@use 'components/tag-input' as *;

.article-tag-input {
  width: 100%;
}

// This ID will disable input in view mode
#article-tags-input--disabled {
  display: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
