@use '@angular/material' as mat;
@use 'base/variables' as var;

@include mat.core();

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: var.$primary,
      accent: var.$accent,
      warn: var.$warn,
    ),
    density: 0,
  )
);

// Apply Angular Material theme styles
@include mat.all-component-themes($custom-theme);
