@use 'sass:math';

@function pxToRem($px, $base: 16) {
  @return math.div($px, $base) * 1rem;
}

@function get-spacing($factor) {
  @return map-get($spacing, $factor);
}

@mixin flex(
  $direction,
  $justify: flex-start,
  $align: flex-start,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}
