@use '@angular/material' as mat;
@use './variables' as v;

@include mat.core();

$custom-theme: mat.define-light-theme((
  color: (
    primary: v.$primary,
    accent: v.$accent,
    warn: v.$warn,
  ),
  density: 0,
));

// Apply Angular Material theme styles
@include mat.all-component-themes($custom-theme);
