<div class="dashboard">
  <mat-sidenav-container
    class="dashboard__container"
    aria-label="Dashboard layout">
    <mat-sidenav
      class="dashboard__sidebar"
      [(opened)]="isSideBarOpen"
      [mode]="'over'"
      aria-label="Filter sidebar">
      <app-filters-sidebar
        [(isSidebarOpen)]="isSideBarOpen"></app-filters-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="dashboard__content">
      <div
        class="dashboard__header"
        role="region"
        aria-label="Dashboard header">
        <form class="dashboard__search-form" aria-label="Search form">
          <mat-form-field class="dashboard__search-bar" appearance="outline">
            <mat-label>Search articles</mat-label>
            <mat-icon matPrefix aria-hidden="true">search</mat-icon>
            <input
              type="text"
              matInput
              (input)="onSearchChange($event)"
              placeholder="Search articles"
              aria-label="Search articles" />
          </mat-form-field>
        </form>

        <div
          class="dashboard__header-button-group"
          role="group"
          aria-label="Header actions">
          <button
            mat-raised-button
            class="dashboard__button"
            color="accent"
            (click)="handleToggleSidebar()"
            aria-label="Toggle filter sidebar">
            <mat-icon>filter_list</mat-icon>
            Filter
          </button>

          <a
            routerLink="/article/create"
            mat-raised-button
            color="primary"
            class="dashboard__button"
            aria-label="Create new story">
            Create New Story
          </a>
        </div>
      </div>

      <app-article-list aria-label="Article list section"></app-article-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
