@use 'abstracts/functions' as fun;
@use 'abstracts/mixins' as mix;
@use 'abstracts/breakpoints' as bps;
@use 'base/variables' as var;

.dashboard {
  height: 100%;

  &__container {
    height: 100%;
    width: 100%;
    background-color: var.$app-background;
  }

  &__content {
    padding: fun.spacing(2);
    background-color: var.$app-background;
  }

  &__header {
    @include mix.flex(row, space-between, center, fun.spacing(2), wrap);
    padding: fun.spacing(2) 0;
  }

  &__header-button-group {
    @include mix.flex(row, flex-start, flex-start, fun.spacing(2));
  }

  &__search-form {
    width: 100%;
    max-width: fun.pxToRem(400);
  }

  &__search-bar {
    width: 100%;
    background-color: var.$white;
  }

  &__button {
    padding: fun.spacing(2) fun.spacing(8);
    height: fun.pxToRem(50);
  }

  .mat-drawer {
    width: 100%;
    max-width: fun.pxToRem(400);
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
  }
}
