@use '/abstracts/mixins' as mix;
@use '/base/variables' as var;
@use '/abstracts/breakpoints' as bps;
@use '/abstracts/functions' as fun;

.app-bar {
  @include mix.flex(row, space-between, center);
  position: sticky;
  background-color: var.$app-background;
  top: 0;

  &__logo-container {
    @include mix.flex(row, center, center);
  }

  &__logo {
    width: fun.pxToRem(40);
    padding: fun.spacing(1);
    cursor: pointer;
  }

  &__logo-name {
    display: none;
    color: var.$app-text-primary;
    padding: 0 fun.spacing(2);
    font-size: fun.pxToRem(34);
    font-weight: 600;
    @include bps.breakpoint(sm) {
      display: block;
    }
  }

  &__space {
    flex: 1 1 auto;
  }

  &__profile-container {
    position: relative;
  }

  &__profile {
    @include mix.flex(row, center, center);
    height: fun.pxToRem(40);
    width: fun.pxToRem(40);
    padding: 0;
    border-radius: fun.pxToRem(40);
    cursor: pointer;
    border: none;
    background: transparent;
    outline: fun.pxToRem(1) solid var.$primary-color;
  }

  &__profile-avatar {
    height: 100%;
    border-radius: fun.pxToRem(40);
    width: 100%;
    padding: 0;
    &:hover {
      opacity: 0.8;
    }
  }

  &__profile-menu {
    top: fun.pxToRem(100);
    right: 0;
    padding: fun.spacing(8);
    width: fun.pxToRem(250);
    z-index: 100;
    @include mix.flex(column, center, center);
  }

  &__profile-card-avatar {
    width: fun.pxToRem(150);
    height: fun.pxToRem(150);
    border-radius: 50%;
    margin-bottom: fun.spacing(4);
    border-radius: mxToRem(40);
  }

  &__profile-info {
    padding: fun.spacing(4) 0;
  }

  &__username {
    color: var.$app-text-primary;
    font-weight: 800;
    text-align: center;
  }

  &__email {
    color: var.$app-text-secondary;
    text-align: center;
  }

  &__signup {
    background-color: var.$primary-color;
  }

  &__profile-card-button {
    margin-top: fun.spacing(8);
    background-color: var.$primary-color;
    color: var.$light-gray;
    border: none;
    padding: fun.spacing(2) fun.spacing(6);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 200ms ease;
    &:hover {
      background-color: var.$primary-color-dark;
    }
  }

  &__profile-card-dashboard-button {
    margin-bottom: fun.pxToRem(16);
    @include bps.breakpoint(md) {
      display: none;
    }
  }

  &__dashboard-button {
    display: none;
    margin-inline: fun.spacing(4);
    @include bps.breakpoint(md) {
      display: block;
    }
  }

  &__buttons-group {
    @include mix.flex(row);
    gap: fun.spacing(1);
    padding: 0 fun.spacing(2);
  }
}
